<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Отчёт по ссылкам</title>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>